<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', { linkCss: 'css/roupas.css' , title: 'Skate' }) %>

<body> 
  <%- include('includes/header' , {carrinhoProduts: carrinhoProdutos}) %>

    <div class="main">
        
        <div class="filter">
            <p>MEDIDAS</p>
            <div class="input2">
                
                <p>Shape</p>
                <label class="input-tamanho">
                    <input type="checkbox">7.75/8.0
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.125
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.25
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.5
                </label>
                <p>Truck</p>
                <label class="input-tamanho">
                    <input type="checkbox">1.29 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">1.39 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">1.49 MM
                </label>
                <p>Roda</p>
                <label class="input-tamanho">
                    <input type="checkbox">50 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">51 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">52 MM
                </label>

                <label class="input-tamanho">
                    <input type="checkbox">53 MM
                </label>

                <label class="input-tamanho">
                    <input type="checkbox">54 MM
                </label>

            <button class="limpar">Limpar</button>
            </div>
        </div>

        
        <div class="produtos">
            <% skateProduct.forEach(item=> { %>
            <div class="destaque2">
                <img src= "public/images/skate/skate/Skate - Shapes/blvr1-removebg-preview.png" alt="blvr1">
                <p>
                    <%= item.nome %>
                  </p>
                  <p>
                    R$ <%= item.valor %>
                  </p>
                <div class="comprar-adicionar">
                    <button>
                        Comprar
                    </button>
                </div>
            </div>
            <div class="destaque2">
                <img src="public/images/skate/skate/Skate - Shapes/blvr2-removebg-preview.png" alt="blvr2">
                <p>
                    <%= item.nome %>
                  </p>
                  <p>
                    R$ <%= item.valor %>
                  </p>
                <div class="comprar-adicionar">
                    <button>
                        Comprar
                    </button>
                </div>
            </div>    
            <div class="destaque2">
                <img src="public/images/skate/skate/Skate - Shapes/dgk1-removebg-preview.png" alt="dgk">
                <p>
                    <%= item.nome %>
                  </p>
                  <p>
                    R$ <%= item.valor %>
                  </p>
                <div class="comprar-adicionar">
                    <button>
                        Comprar
                    </button>
                </div>
            <h1>Truck</h1>
                <div class="truck">
                    <img src="public/images/skate/skate/Skate-Trucks/ind1-removebg-preview.png" alt="ind">
                    <p>
                        <%= item.nome %>
                      </p>
                      <p>
                        R$ <%= item.valor %>
                      </p>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="truck">
                    <img src="public/images/skate/skate/Skate-Trucks/ind3-removebg-preview.png" alt="ind2">
                    <p>
                        <%= item.nome %>
                      </p>
                      <p>
                        R$ <%= item.valor %>
                      </p>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="truck">
                    <img src="public/images/skate/skate/Skate-Trucks/venture1-removebg-preview.png" alt="venture1">
                    <p>
                        <%= item.nome %>
                      </p>
                      <p>
                        R$ <%= item.valor %>
                      </p>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
                <h1>Rodas</h1>
                <div class="rodas">
                    <img src="public/images/skate/Skate-Rodas/bones1.png" alt="bones1">
                    <p>
                        <%= item.nome %>
                      </p>
                      <p>
                        R$ <%= item.valor %>
                      </p>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="public/images/skate/Skate-Rodas/bones2.png" alt="bones2">
                    <p>
                        <%= item.nome %>
                      </p>
                      <p>
                        R$ <%= item.valor %>
                      </p>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="public/images/skate/Skate-Rodas/element1.png" alt="element2">
                    <p>
                        <%= item.nome %>
                      </p>
                      <p>
                        R$ <%= item.valor %>
                      </p>
                    <div>
                        <button>Comprar</button>
                    </div>
                </div>


                <%})%>

        </div>

    </div>

    <%- include('includes/footer') %>


</body>


</html>