<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', { linkCss: 'css/skate.css' , title: 'Skate' }) %>

<body> 
  <%- include('includes/header' , {carrinhoProduts: carrinhoProdutos}) %>

  <main>
    <div class="main">
        
        <div class="filter">
            <p>MEDIDAS</p>
            <div class="input2">
                
                <p>Shape</p>
                <label class="input-tamanho">
                    <input type="checkbox">7.75/8.0
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.125
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.25
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.5
                </label>
                <p>Truck</p>
                <label class="input-tamanho">
                    <input type="checkbox">1.29 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">1.39 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">1.49 MM
                </label>
                <p>Roda</p>
                <label class="input-tamanho">
                    <input type="checkbox">50 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">51 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">52 MM
                </label>

                <label class="input-tamanho">
                    <input type="checkbox">53 MM
                </label>

                <label class="input-tamanho">
                    <input type="checkbox">54 MM
                </label>

            <button class="limpar">Limpar</button>
            </div>
        </div>

        
        <div class="container-1">
            <% skateProduct.forEach(item => { %>
    
                <div class="destaque-2">
                    <img src="<%= item.imagem[0] %>" alt="">
                    <p>
                        <%= item.nome %>
                    </p>
                    <p>
                        R$ <%= item.valor %>
                    </p>
                <div>
    
                        <a href="/detals/<%= item.id %>">
                            <button> Comprar </button>
                        </a>
                    </div>
                    
                </div>


                <%})%>

        </div>

    </div>
  </main>

    <%- include('includes/footer') %>


</body>


</html>